<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <span>MÓDULO DE SEGURIDAD</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu">
        <button class="p-link layout-topbar-button" (click)="toggleAuthMenu()">
            <i class="pi pi-user"></i>
            <span>{{ loggedInUser }}</span>
        </button>
        <ul *ngIf="isAuthMenuVisible" class="layout-submenu">
            <li>
                <a [routerLink]="['/auth/login']">
                    <i class="pi pi-fw pi-sign-in"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>    
</div>
