<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="funciones" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['func_name', 'func_module', 'func_state']" [paginator]="true"
                [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [(selection)]="selectedFunctions" selectionMode="multiple" [rowHover]="true" dataKey="func_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Funciones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="func_id">ID <p-sortIcon field="func_id"></p-sortIcon></th>
                        <th pSortableColumn="func_name">Nombre <p-sortIcon field="func_name"></p-sortIcon></th>
                        <th pSortableColumn="func_module">Módulo <p-sortIcon field="func_module"></p-sortIcon></th>
                        <th pSortableColumn="func_state">Estado <p-sortIcon field="func_state"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-func>
                    <tr>
                        <td><span class="p-column-title">ID</span>{{func.func_id}}</td>
                        <td><span class="p-column-title">Nombre</span>{{func.func_name}}</td>
                        <td><span class="p-column-title">Módulo</span>{{func.func_module}}</td>
                        <td><span class="p-column-title">Estado</span>{{func.func_state}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editFunction(func)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteFunction(func)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="functionDialog" [style]="{width: '450px'}" header="Detalles de la Función" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="func_name">Nombre</label>
                    <input id="func_name" type="text" pInputText [(ngModel)]="func.func_name" />
                </div>
                <div class="field">
                    <label for="func_module">Módulo</label>
                    <input id="func_module" type="text" pInputText [(ngModel)]="func.func_module" />
                </div>
                <div class="field">
                    <label for="rol_state">Estado</label>
                    <p-dropdown [options]="statuses" [(ngModel)]="func.func_state" optionLabel="label"
                        optionValue="value"></p-dropdown>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveFunction()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteFunctionDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="func">¿Está seguro de que desea eliminar la función <b>{{func.func_name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteFunctionDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>